.layout{
    margin-top: 20px;
    padding: 20px;
    background-color: orange;
    border-radius: 55px;
}

.actionBtn17 {
    display: inline-block;
    min-width: 200px;
    min-height: 35px;
    margin: auto;
    padding: 15px 0;
    border-bottom: 1px solid #222;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: padding .4s cubic-bezier(0.45,-0.11, 0, 0.8);
    -webkit-transition: padding .4s cubic-bezier(0.45,-0.11, 0, 0.8);
    -moz-transition: padding .4s cubic-bezier(0.45,-0.11, 0, 0.8);
    text-transform: uppercase;
    text-decoration: none;
}

.actionBtn17:before {
    content: '';
    display: block;
    clear:both;
}
.actionBtn17 .lb {
    display: block;
    float: left;
    font-size: 20px;
    color:#222;
    font-weight: bold;
    font-family: 'notosans';
}
.actionBtn17 .ico-arr2 {
    display: block;
    float: right;
    width: 32px;
    height: 32px;
    margin-top: 1px;
    background: url('./arrow.png') no-repeat left top;
}
.actionBtn17:hover {
    padding: 15px 17px;
}



.actionBtn18 {
    display: inline-block;
    min-width: 200px;
    min-height: 35px;
    margin: auto;
    padding: 15px 0;
    border-bottom: 1px solid #222;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: padding .4s cubic-bezier(0.45,-0.11, 0, 0.8);
    -webkit-transition: padding .4s cubic-bezier(0.45,-0.11, 0, 0.8);
    -moz-transition: padding .4s cubic-bezier(0.45,-0.11, 0, 0.8);
    text-transform: uppercase;
    text-decoration: none;
}

.actionBtn18:before {
    content: '';
    display: block;
    clear:both;
}
.actionBtn18 .lb {
    display: block;
    float: left;
    font-size: 20px;
    color:#222;
    font-weight: bold;
    font-family: 'notosans';
}
.actionBtn18 .ico-arr2 {
    display: block;
    float: right;
    width: 32px;
    height: 32px;
    margin-top: 1px;
    background: url('./arrow.png') no-repeat left top;
}
.actionBtn18:hover {
    padding: 15px 17px;
}